@using Readioo.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
@model LoginVM

<!DOCTYPE html>
<html class="login"lang="en">
<head>
    <title>Bad Reads Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css">

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata"> -->
</head>
<body class="login">
    <a href="https://www.goodreads.com/"><img class="logo" src="~/images/Logo.jpg" alt="Bad Reads"></a>
    <br>
    <h1 style="font-size: 45px; font-weight: 50;">Login </h1>

    <form method="post">
        <div class="inputs">

            <p>Email:</p>
            <input class="text_input" type="email" asp-for="Email">
            <br>
            <p>Password:</p>
            <input class="text_input" type="password" asp-for="Password" id="password">
            <br>
            <input type="submit" class="login" value="Login">

        </div>
    </form>
    <br>
    <div class="sign_in">
        <div>
            <p>Forgot Password?</p>
        </div>
        <div>
            <a class="button" href="https://www.goodreads.com/"><strong>Reset Password</strong></a>
        </div>
    </div>
    <br>
    <form method="post">
        <span class="check">
            <input type="checkbox" asp-for="RememberMe"> <b>keep me signed in</b>
        </span>

    </form>
    <div class="spacing"></div>
    <p style="font-size: 25px;"><b>New To Bad Reads?</b></p>
    <div>
        <a class="button" href="Registeration.html"> Create New Account</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>
</html>